body{
    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 1.4;
    color: #6d3232;
}

p{
    text-indent: 20px;
}

.title{
    text-align: center;
    font-weight: normal;
    letter-spacing: 1px;
    text-decoration: underline;
    text-transform: uppercase;
}

.justify{
    text-align: justify;
    font-weight: bold;
    font-style: italic;
}

.marker1{
    list-style-type: decimal;
    list-style-position: inside;
    color: darkblue;
}
.table1{
    width: 100%;
    border: 1px solid #000;
}
.text-red{
    display: block;
    margin: 10px;
    color: red;
    font-weight: 700;
    font-style: italic;
}
.content{
    margin: 10px 20px 30px 50px;
 //   margin-right: 50px;
 //   margin-bottom: 50px ;
}